<%- include("header") -%>

<div class="box" id="heading">
    <h1> <%= listTitle %></h1>
</div>

<div class="box">
    <% for (var i=0; i<listOfTasks.length; i++) { %>
    <div class="item">
        <input type="checkbox">
        <p><%= listOfTasks[i].name %></p>
    </div>
    <% } %>
    <form action="/" method="post" class="item">
        <input type="text" name="task" placeholder="Add new task" autocomplete="off">
        <button type="submit" name="list" value=<%= listTitle %>>+</button>
    </form>
</div>

<%- include("footer") -%>